.highlight-column {
    background-color: greenyellow;
    /* Màu nền khi highlight */
}

.simulate {
    table tr td {
        padding-left: 20px;
        text-align: center;
    }

    table tr th {
        padding-left: 20px;
        text-align: center;
    }
}